.match-page {
    text-align: center;

    h1 {
        margin: 10px;
        color: rgb(252, 152, 0);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .user-cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .profile-card{

            img {
                width: 286px;
                height: 382px;
            }

            margin-top: 20px;
            margin-left: 50px;
            margin-right: 50px;
            box-sizing: border-box;
            box-shadow: 0px 0px 15px 0px black;
    
            .profile-body{
                
                .card-title{
                    text-align: center;
                }
    
                .card-subtitle{
                    margin: 5px;
                    color: rgb(252, 152, 0);
                    text-align: center;
                }
    
                button{
                    margin-left: 20px;
                    margin-right: 20px;
                    text-align: center;
                    background-color: rgb(252, 152, 0);
    
                    &:hover{
                        background-color: rgb(211, 127, 0);
                    }
                }
            }
        }
    }
}

.already-matched-page {
    text-align: center;
    
    p {
        color: rgb(252, 152, 0);
    }

    button{
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        background-color: rgb(252, 152, 0);

        &:hover{
            background-color: rgb(211, 127, 0);
        }
    }
}