.bg-dark {
    background-color: rgb(34, 34, 43)!important
}

.navbar{
    width: 100%;

    .navbar-brand{
        img{
            width: 100px;
            height: 40px;
        }
    }

    .navbar-collapse{
        justify-content: flex-end;
    }

    .nav-tabs {
        margin: auto;
        a{
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            text-align: center;
            padding: 1em 2em;
            text-decoration: none;
            color: white;
            align-self: center;
        }

        .nav-link{
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            text-align: center;
            padding: 1em 2em;
            text-decoration: none;
            color: white;
            align-self: center;
            padding-right: 0;
            padding-left: 0;

            &:hover{
                background-color: rgb(252, 152, 0);

                a{
                    border: 1px solid transparent;
                    border-bottom: 3px solid transparent;
                    color: black;

                    &:hover{
                        background-color: rgb(252,152,0);
                        color: black;
                    }
                }
            }
        }
    
        .nav-link.active{
            background-color: rgb(252,152,0);    
        }
    }

    button {
        align-self: center;
        margin: 10px;
        font-size: 21px;
        padding: 5px 20px;
        border: 0;
        font-size: small;
        background-color: rgb(252, 152, 0);
        color: #fff;
        border-radius: 3px;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: orange;
          color: black;
        }
        &:focus {
          outline: none;
        }
    }
}

.site-footer {
    background-color: rgb(34, 34, 43);
    color: white;
    padding-top: 20px;

    ul {
        display: flex;
        padding: 20px;
        list-style: none;
        flex-direction: column;
        justify-content: center;
    }
    li {
        align-self: center;
        font-size: large;
        font-family: 'Courier New', Courier, monospace;
    }

    .copyright-mark{
        padding: 10px;
        margin: 0;
        background: #1B1B1B;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}