.bg-dark {
    background-color: rgb(34, 34, 43)!important
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .navbar-brand{
        img{
            margin-right: 24em;
            width: 50px;
            height: 50px;
        }
    }

    a{
        padding: 1em 2em;
        text-decoration: none;
        color: white;
        align-self: center;

        &:hover{
            background-color: rgb(252, 152, 0);
            color: black;
        }
    }

    button {
        margin: 10px;
        font-size: 21px;
        padding: 5px 20px;
        border: 0;
        font-size: small;
        background-color: rgb(252, 152, 0);
        color: #fff;
        border-radius: 3px;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: orange;
          color: black;
        }
        &:focus {
          outline: none;
        }
    }
}

.nav-tabs {

    .nav-link{
        &:hover{
            background-color: rgb(252, 152, 0);
            color: black;
        }
    }

    .nav-link.active{
        background-color: rgb(252,152,0);    
    }
}