.email-confirmation {
    text-align: center;

    .password-card {
        margin: auto;
        margin-top: 6rem;
        font-family: "Open Sans", sans-serif;
        
        .card {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 1px solid #8e8e8e;
            margin: auto;
            width: 28rem;
            padding: 2rem;
            img {
                margin: auto;
                height: 96px;
                width: 96px;
            }

            .card-body {

                .card-title {
                    color: rgb(252, 152, 0);
                }

                .card-text {
                    text-align: center;
                    color: #8e8e8e
                }

                .email-handler {
                    .form-group {
                        input {
                            background-color: rgb(58, 64, 78);
                            color: white;

                            &:focus {
                                border: 1px solid rgb(252, 152, 0);
                                box-shadow: none;
                            }
                        }

                    }
                    
                    button {
                        width: 100%;
                        background-color: rgb(252, 152, 0);
                        border-color: transparent;

                        &:hover {
                            border-color: transparent;
                        }

                        &:disabled {
                            border-color: transparent;
                        }
                    }
                }

                .or-text {
                    margin-top: 2em;
                    p {
                        color: #8e8e8e;
                    }

                    hr {
                        border: 0.4px solid #8e8e8e;
                    }
                }

                .create-account {
                    text-decoration: none;
                    color: rgb(252, 152, 0);
            
                    &:hover{
                        text-decoration: none;
                        text-emphasis-color:rgb(252, 152, 0);
                    }
                }
            }

        }
        .back-link {
            background-color: rgb(34, 34, 43);
            width: 28rem;
            height: 30px;
            border: 1px solid #8e8e8e;
            border-radius: 1mm;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            margin: auto;
            a {
                text-decoration: none;
                color: rgb(252, 152, 0);
    
                &:hover{
                    text-decoration: none;
                    text-emphasis-color:rgb(252, 152, 0);
                }
            }
        }
    }
}

.password-forget-link{
    margin-top: 2em;
    a {      
        text-decoration: none;
        color: rgb(252, 152, 0);
  
        &:hover{
          text-decoration: underline;
          text-emphasis-color:rgb(252, 152, 0);
        }
    }
}