.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .header {
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
      color: white;
    }
  
    .content {
      display: flex;
      flex-direction: column;
  
      .image {
        width: 21em;
        img {
          width: 100%;
          height: 100%;
        }
      }
  
      .form {
        margin-top: 2em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .form-group {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: fit-content;
          label {
            color: orange;
            font-size: 20px;
          }
          input {
            color: white;
            margin-top: 6px;
            min-width: 18em;
            height: 37px;
            padding: 0px 10px;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            background-color: rgba(59, 64, 78, 1);
            border: 1;
            border-color: rgba(33, 36, 44, 1);
            border-radius: 4px;
            margin-bottom: 15px;
            transition: all 250ms ease-in-out;
            &:hover {
              box-shadow: 0px 0px 14px 0.3px orange;
            }
  
            &:focus {
              outline: none;
              box-shadow: 0px 0px 12px 0.8px orange;
            }
          }
        }
      }
    }
  }